*{
  box-sizing: border-box;
}

body {
  background-color: rgba(240, 240, 240, 0.35);
  font-family: 'Nunito', Arial, sans-serif;
}

.main {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: white;
}

.main-nav {
  display: block;
}

.main-nav .name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px ;
  text-transform: uppercase;
}

.main-ul {
  font-size: 12px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
  list-style-type: none;
}

.main-ul li {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #FFDF00;
}

.profile-image {
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
  border-top: 2px solid grey;
  margin-top: 10px;
  padding-top: 25px;
}

.profile p {
  font-size: 15px;
  font-family: 'Lato';
  font-weight: lighter;
  color: rgba(41, 39, 39, 0.86);
  margin: 0 auto;
  padding-top: 10px;
  border-bottom: 2px solid grey;
  margin-top: 20px;
  padding-bottom: 20px;
}

.main-content {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.main-content h2 {
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 0;
  padding: 25px 0 15px;
  text-transform: uppercase;
}

.main-content .card img {
  margin: 0 auto;
  width: 100%;
  padding: 15px;
}

.main-content .card div {
  font-size: 20px;
}

.main-content .card p {
  color: rgba(41, 39, 39, 0.86);
  font-size: 15px;
  font-weight: lighter;
  font-family: 'Lato';
  padding: 0 20px;
}

.skills p {
  color: rgba(41, 39, 39, 0.86);
  font-size: 15px;
  margin-bottom: 0;
}

.skills .skills-info {
  border-top: 2px solid grey;
  margin-top: 25px;
  padding-top: 20px;
}

.skills ul {
  font-size: 12px;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
  list-style-type: none;
}

.skills li {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #FFDF00;
  border-radius: 5px;
}

.contact-info {
  border-top: 2px solid grey;
  margin-top: 5px;
  padding-top: 20px;
}

.skills .skills-info,
.contact-info .contact {
   font-size: 15px;
   font-weight: bold;
   text-transform: uppercase;
}

.contact-text, .phone, .email {
  color: rgba(41, 39, 39, 0.86);
}

.contact-info a:hover {
  color: #FFDF00;
}

.phone-number {
  color: black;
}

.footer-nav {
  border-top: 2px solid grey;
  margin-top: 25px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav h3, .top {
  display: inline;
  font-size: 15px;
  padding: 10px;
  list-style-type: none;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
  margin-top: 10px;
}

.footer-nav a:hover {
  color: #FFDF00;
}

.footer-ul {
  display: none;
}


/* --- Media Queries --- */

@media (min-width: 768px) {

  a {
    text-decoration: none;
  }

  a:link, a:visited {
    color: black;
  }

  a:hover {
    color: #FFDF00;
  }

  .main-nav .name {
    font-size: 35px;
    margin: 30px 0 10px;
  }

  .main-nav ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
  }

  .main-nav li {
    font-size: 15px;
    background-color: inherit;
    margin-top: 5px;
    padding: 20px;
  }

  .profile {
    display: inline-flex;
    margin: 20px 20px;
    flex-direction: row-reverse;
  }

  .profile-image {
    width: inherit;
    border: 0;
  }

  .profile p {
    font-size: 20px ;
    font-weight: lighter;
    color: rgba(41, 39, 39, 0.86);
    width: 50%;
    margin-top: 85px;
    border: 0;
  }

.main-content .card {
  width: 50%;
}

.main-content .row-container {
  display: flex;
  flex-wrap: wrap;
}

.main-content .card p {
  padding: 0 10px;
}

.skills p {
  text-align: center;
}

.contact-info p, .phone, .email {
  margin-top: 25px;
  text-align: center;
}

.footer-nav {
  padding: 10px 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.footer-nav .name {
  display: block;
  font-size: 15px;
}

.footer-ul {
  display: block;
  list-style-type: none;
}

.footer-ul li {
  display: inline;
  padding-left: 1.25em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
}

.top {
  display: none;
}

}

@media (min-width: 1024px) {

  body {
    max-width: 1040px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  a:link, a:visited {
    color: black;
  }

  a:hover {
    color: #FFDF00;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 70px 0px 20px;
  }

.main-nav .name,
.main-ul li,
.footer-nav .name,
.footer-ul li {
    margin: auto;
  }

  .profile {
    margin: 40px 20px;
  }

  .profile p {
    font-size: 20px;
    text-align: center;
  }

  .row-container .card {
    width: 30%;
    margin: 0 auto;
  }

  .skills p {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
  }

  .contact-info p {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer-nav .name {
    margin-left: 0;
  }

  .footer-nav .footer-ul {
    margin-right: 5px;
  }

}
